{% extends "basic.html" %}
{% load static %}
<title>{% block title %} About {% endblock %}</title>
  {% block body_block %}
    <div class="conatiner">
        <p>MiPIS(Missing Person Identification System) is a Web-App/Website which can be used to help find the missing person around the globe. At the heart of it we have a Django server hosted on <a href="http://mahakaal17.pythonanywhere.com/">python anywhere</a> having python in Backend and MySQL as default database. The front end is managed by Web3(HTML/CSS/JS) and the face recognition api is used from <a href="https://www.faceplusplus.com/face-comparing/#demo">Face++</a>
            .The Algorithm used for finding similiarity is the popular algorithm known as K-Means Clustering Algorithm.
        </p>
    </div>
  {% endblock %}   
</html>