{% extends "basic_staff.html" %} 
  {% block body_block %}
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Picture</th>
            <th>Uploaded Picture</th>
            <th>Accuracy</th>
            <th>Approve</th>
        </tr>
        {% for name in data %}
        <tr>
            <td>{{ name.id }}</td>
            <td><img src="/media/{{ name.picture }}"></td>
            <td><img src="/media/{{ name.similiar }}"></td>
            <td>{{ name.accuracy }}</td>
            <td><a href="/MiPIS/approveme/{{ name.id }}">Approve and Remove</a></td>
        </tr>
        {% endfor %}
    {% endblock %}   
</html>