{% extends "basic.html" %}
{% load static %}
<title>{% block title %} Home {% endblock %}</title>
  {% block body_block %}
    <div class="conatiner">
        <p>A missing person is a person who has disappeared and whose status as alive or dead cannot be confirmed as their location and condition unknown. 
            A person may go missing through a voluntary disappearance, or else due to an accident, crime, death in a location where they cannot be found (such as at sea), or many other reasons.
            In most parts of the world, a missing person will usually be found quickly. While criminal abductions are some of the most widely reported missing person cases, these account for only 2-5% of missing children in Europe.
            By contrast, some missing person cases remain unresolved for many years. Laws related to these cases are often complex since, in many jurisdictions, relatives and third parties may not deal with a person's assets until their death is considered proven by law and a formal death certificate issued. 
            The situation, uncertainties, and lack of closure or a funeral resulting when a person goes missing may be extremely painful with long-lasting effects on family and friends.A number of organizations seek to connect, share best practices, and disseminate information and images of missing children to improve the effectiveness of missing children investigations, including the International Commission on Missing Persons, the International Centre for Missing & Exploited Children (ICMEC), as well as national organizations, including the National Center for Missing & Exploited Children in the US, Missing People in the UK, Child Focus in Belgium, and The Smile of the Child in Greece.</p>
            <img src="{% static "images/images.jpeg" %}">
        <p>With MiPIS you can bring all these peoples home with a small effort from your side. Register and become part of this family aimed to bring all these missing peoples back to their home with a smile on their home.
            All you need to do is to click a photo when you come across a missing person enlisted on our site and we'll take care of the rest. Let's join hand to ensure that all missing person come back to their home.
        </p>
    </div>
  {% endblock %}   
</html>