{% extends "basic_user.html" %} 
<title>{% block title %} Scores {% endblock %}</title>
  {% block body_block %}
    <h2 class="center">Current LeaderBoard</h2>
    <div class="container"> 
        <table border="1" class="center">
            <tr>
                <th>User</th>
                <th>Scores</th>
            </tr>
            {% for f in tbr %}
            <tr>
                <td>{{ f.uname }}</td>
                <td>{{ f.score }}</td>
            </tr>
            {% endfor %}
        </table>
    </div> 
    {% endblock %}   
</html>